{% extends "base.html" %}
<!-- https://fastly.picsum.photos/id/36/4179/2790.jpg?hmac=OCuYYm0PkDCMwxWhrtoSefG5UDir4O0XCcR2x-aSPjs -->

{% block content %}

<section class="hero hero-new-post"></section>

<div class="container py-5">

	<div class="row justify-content-center">

		<div class="col-md-6">

		<h2 class="mb-4 text-center">Create New Blog Post</h2>

		<form method="POST" class="needs-validation" novalidate>

			<!-- CSRF Token -->
			{{ form.hidden_tag() }}

			<div class="mb-3">

				{{ form.title.label(class="form-label fs-5") }}

				
				{{ form.title(class="form-control") }}

				{% if form.title.errors %}
		            <div class="text-danger">
		                {% for error in form.title.errors %}
		                    **{{ error }}<br>
		                {% endfor %}
		            </div>
		        {% endif %}

			</div>

			<div class="mb-3">

				{{ form.subtitle.label(class="form-label fs-5") }}

				
				{{ form.subtitle(class="form-control") }}

				{% if form.subtitle.errors %}
		            <div class="text-danger">
		                {% for error in form.subtitle.errors %}
		                    **{{ error }}<br>
		                {% endfor %}
		            </div>
		        {% endif %}				
				
			</div>

			<div class="mb-3">

				{{ form.img_url.label(class="form-label fs-5") }}

				
				{{ form.img_url(class="form-control") }}

				{% if form.img_url.errors %}
		            <div class="text-danger">
		                {% for error in form.img_url.errors %}
		                    **{{ error }}<br>
		                {% endfor %}
		            </div>
		        {% endif %}

			</div>

			<div class="mb-3">

				{{ form.body.label(class="form-label fs-5") }}

				
				{{ form.body(class="form-control") }}

				{% if form.body.errors %}
		            <div class="text-danger">
		                {% for error in form.body.errors %}
		                    **{{ error }}<br>
		                {% endfor %}
		            </div>
		        {% endif %}

			</div>

			{{ form.submit(class="btn btn-success w-100") }}

			<!-- <button class="btn btn-success w-100">Register</button> -->

		</form>

		</div>

	</div>

</div>
	
{% endblock %}